body {
  margin: 0;
  background: linear-gradient(135deg, #cee0f9, #f2ebf5);
  color: #3b6ea5;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(81, 81, 81, 0.6);
}

#hint {
  margin: 15px 0;
  width: 360px;
  border: 3px solid #180a2d;
  border-radius: 8px;
  object-fit: cover;
}

#puzzle-room {
  position: relative;
  width: 600px;
  height: 400px;
  border: 3px solid #180a2d;
  border-radius: 8px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  /* background: #000; */
}

.puzzle-piece {
  position: absolute;
  cursor: grab;
  transition: box-shadow 0.2s;
}

.puzzle-piece.snapped {
  box-shadow: 0 0 15px 5px #04a967;
}

#message {
  margin-top: 14px;
  font-size: 1.5rem;
  color: #3b6ea5;
  text-shadow: 0 0 10px rgba(81, 81, 81, 0.6);
}

#final-image img {
  max-width: 100%;
  border-radius: 10px;
  border: 3px solid #fff;
}